.unicorn-image {
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;
}

.div-inline{
    display:inline-block;
}

.blue-bg {
    background: #535C69 /*#535C69*/ !important;
}

.blue-bg li > a {
    
}

.content {
    /*background: #e6ecff !important;*/
    border-radius: 2px;

    -webkit-box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.37);
    box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.37);
}

.margin-top {
    margin-top: 50px !important;
}

.panel-heading.panel-custom {
    background-color: #535C69 !important;
    font-size: 13pt;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}